---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nurl Developers">
  <main>
    <p>
      The <strong>open source API</strong> for <strong>developers</strong> to
      build their own <strong>Nurl extensions</strong>.
    </p>
    <p class="headline-code">Coming Soon</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-bottom: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 4rem;
    height: 60dvh;
    width: 800px;
    max-width: 60ch;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .headline-code {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
  }

  .headline-code::after {
    animation: blink 1s infinite;
    content: "|";
    color: var(--sandboxGold);
  }

  strong {
    color: var(--sandboxGold);
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
