---
import { Icon } from "astro-icon";

const socialLinks = [
  {
    name: "Twitter",
    url: "https://twitter.com/nurl_app",
    icon: "twitter",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/nurl.app",
    icon: "instagram",
  },
  // {
  // 	name: 'Facebook',
  // 	url: 'https://facebook.com/nurlttrpg',
  // 	icon: 'facebook'
  // },
  // {
  // 	name: 'YouTube',
  // 	url: 'https://youtube.com/nurlttrpg',
  // 	icon: 'youtube'
  // },
  {
    name: "Twitch",
    url: "https://twitch.tv/nurl_inc",
    icon: "twitch",
  },
  {
    name: "Discord",
    url: "https://discord.gg/nurl",
    icon: "discord",
  },
];
---

<footer>
  <section class="footer-logo">
    <a class="footer-logo-link" href="/">
      <img src="/logo.svg" alt="Nurl Logo" />
    </a>
  </section>

  <div class="sitemap">
    <section class="sitemap-links">list of links</section>

    <section>
      <ul>
        {
          socialLinks.map((link) => (
            <li>
              <a aria-label={link.name} class="social-link" href={link.url}>
                <Icon aria-hidden pack="mdi" name={link.icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </div>

  <section class="legal">
    <div class="legal-links">
      <a
        href="https://nurl.website/legal/privacy"
        target="_blank"
        rel="noopener noreferrer">Privacy Policy</a
      >
      <a
        href="https://nurl.website/legal/terms"
        target="_blank"
        rel="noopener noreferrer">Terms of Service</a
      >
    </div>
    <small> &copy; 2023 Nurl, Inc. All rights reserved.</small>
  </section>
</footer>

<style>
  footer {
    align-items: center;
    background-color: var(--text);
    border-top: 1px dashed rgba(225 225 225 / 0.2);
    color: var(--surface);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .footer-logo {
    margin: 0 auto;
    width: 6.75rem;

    img {
      width: 100%;
    }
  }

  .sitemap {
    max-width: 60ch;
    width: 100%;
  }

  .sitemap-links {
    display: none;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: 2rem;
  }

  .social-link {
    color: #ff2eff;
    font-size: 1.5rem;
    width: 100%;
  }

  .social-link {
    fill: var(--surface);
  }

  .legal {
    text-align: center;
    max-width: 60ch;
    width: 100%;
  }

  .legal-links {
    align-items: center;
    border-top: 1px solid rgba(225 225 225 / 0.2);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding: 2rem;
  }

  a {
    display: inline-block;
    color: var(--surface);
  }

  small {
    font-size: 0.75rem;
    color: rgba(225 225 225 / 0.7);
  }

  @media (min-width: 768px) {
    footer {
      padding-bottom: 4.5rem;
    }

    .legal-links {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
</style>
