---

---

<header>
  <h1 class="logo">
    <a href="/">
      <img src="/logo.svg" alt="Nurl Logo" />
    </a>
  </h1>
</header>

<style>
  header {
    border-bottom: 1px solid rgba(0 0 0 / 0.1);
    text-align: center;
  }

  .logo {
    color: var(--text);
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    width: 4rem;
  }
</style>
